body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff6f8;
}


header {
    background: #1a1a1a;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.logo-img {
    border-radius: 6px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 30px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 8px 5px;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #ff8fb3;
}



.dropdown {
    position: relative;
}


.dropdown::after {
    content: "";
    position: absolute;
    top: 32px;     
    left: 0;
    width: 100%;
    height: 25px;  
}


.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    top: 45px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.18);
    min-width: 210px;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition: 0.25s ease-in-out;
}

.dropdown-menu a {
    display: block;
    padding: 12px 20px;
    color: #333;
    font-size: 16px;
}

.dropdown-menu a:hover {
    background: #ffe1ee;
}


.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}



.page-container {
    padding: 50px;
}

h1 {
    color: #d6336c;
    font-size: 38px;
}

h2 {
    color: #b31f53;
}


